body{
    background-color: #F8F6F0;
    margin:0;
    padding:0;
}

html{

    font-family:'Source Sans Pro', sans-serif;
    font-style:normal;
    scroll-behavior: smooth;

}





.logo{
    text-align: left;
    position: relative;
    right: 13%;
}

header{
    height:100px;
    display:flex;
    justify-content: center;
    flex-direction:row;
    align-items:center;
    text-align: center;

    padding:0 40px;
    margin-bottom: 0px;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #000000;

}
.vlag {
    position: relative;
    text-align: center;
    box-shadow: 0 40px 10px rgb(0 0 0 / 60%);
    background-color: #1b448c;
  }
.vlag-tekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
}

nav ul li{
    display: inline-block;
    padding:20px;
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
}


ul.main-menu{
    list-style:none;
    color:black;

    text-align: center;
    
}

li.menu-item{
    display:inline-block;
    padding-right:15px;
    
}

li.menu-item::after{
   padding-left: 30px;
   color: black;
}

li.menu-item a{
    text-decoration: none;
    color:black
    

}
li.menu-item a:hover{
    color:blue
}

.aanmeldformulier{
    text-align: right;
    position: relative;
    left: 15%;
}

.Knop-formulier{
    position:relative;
    background-color: white;
    border: 3px solid #1b448c;
    padding: 14px 10px;
    text-decoration: none;  
    border-radius: 4px;

}


.tekst-box{
    color:black;
    margin: 10px;
}



  .Politici-box1 {
    
    background-color: lightgrey;
    width: 300px;
    height: 350px;
    box-shadow:0 8px 20px -2px aquamarine;
    padding: 50px;
    margin: 20px;
    margin-bottom: 50px;
    position:relative;
    left:200px;
    top: 30px;
    text-align:center;
    border-radius: 4px;

    
  }

.Politici-box2 {
    
    background-color: lightgrey;
    width: 300px;
    height: 350px;
    box-shadow:0 8px 20px -2px aquamarine;
    padding: 50px;
    margin: 20px;
    margin-bottom: 50px;
    position:relative;
    right:200px;
    top:30px;
    text-align:center;
    float:right;
    border-radius: 4px;

    
  }
  .Politici-box3 {
    
    background-color: lightgrey;
    width: 300px;
    height: 350px;
    box-shadow:0 8px 20px -2px aquamarine;
    padding: 50px;
    margin: 20px;
    margin-bottom: 50px;
    position:relative;
    right:200px;
    top:10px;
    text-align:center;
    float:right;
    border-radius: 4px;

    
  }
  .foto{
    border-radius:60%;

  }
  #omhoog-knop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #1b448c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;  

}
#omhoog-knop:hover {
    background-color: darkgrey;
}